@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #F8F5F1;
  color: #2A2A2A;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
}
html {
  scroll-behavior: smooth;
}
body {

  overflow-x: hidden;

}